profiles {
  standard {
    process {
        executor = 'sge'
	cpus = 1
        penv = 'smp'
        memory = 1.GB
        time = '1h'
        clusterOptions = '-S /bin/bash'
        withLabel: 'io_limited' {
          cpus = 1
          memory = 4.GB
          time = '24h'
          maxRetries = 3
        }
        withLabel: 'io_net' {
          cpus = 1
          memory = 8.GB
          time = '7d'
          executor = 'local'
        }
        withLabel: 'io_limited_no_container' {
          cpus = 1
          memory = 4.GB
          time = '24h'
        }
        withLabel: 'io_net_no_container' {
          cpus = 1
          memory = 8.GB
          time = '7d'
        }
        withLabel: 'mem_medium' {
          cpus = 3
	  memory = { 8.GB * task.attempt }
          time = '48h'
	  maxRetries = 3
	  clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" } 
        }
        withLabel: 'mid_memory' {
	  cpus = 4
          memory = 16.GB
          time = '24h'
	  clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }
        withLabel: 'io_mem' {
          cpus = 2
          memory = 16.GB
          time = '48h'
        }
        withLabel: 'multithread' {
          cpus = 4
          memory = 2.GB
          time = '24h'
        }
        withLabel: 'mem_veryhigh' {
          cpus = 8
	  memory = { 10.GB * task.attempt }
          time = '72h'
	  maxRetries = 4
	  clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }
        withLabel: 'mem_veryveryhigh' {
          cpus = 8
          memory = { 24.GB * task.attempt }
          time = '72h'
          maxRetries = 10
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }
    } // end process
    apptainer {
      enabled = true
      cacheDir = '/wynton/protected/home/sirota/clairedubin/singularity_image/'
      autoMounts = true
      // runOptions = '--contain'
      withLabel: 'io_limited_no_container' {
          enabled = false
        }
      withLabel: 'io_net_no_container' {
          enabled = false
        }
    } // end apptainer
  } // end standard profile
}
