profiles{
    // By default, give each process a generous amount of resources
    standard {
        process {
            withLabel: 'io_limited' {
                cpus = 2
                memory = 4.GB
            }
            withLabel: 'io_net' {
                cpus = 2
                memory = 4.GB

            }            
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 32.GB

            }
            withLabel: 'mem_veryhigh' {
                cpus = 8
                memory = {task.attempt > 1 ? 128.GB : 64.GB }

            }
        }
    }
    testing {
        process {
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'io_net' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 1
                memory = {task.attempt > 1 ? 16.GB : 8.GB }
            }
        }
    }
}
